@import 'styles/variables';

.radio {
  position: relative;
}

.radioLabel {
  position: relative;
  display: inline-block;
  vertical-align: top;
  line-height: 1.5;
  padding-left: var(--space-lg);
  cursor: pointer;
}

.radioIcon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: transparent;
  transform: translateY(-50%);
}

.radioIcon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: currentColor;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.radioInput:focus + .radioLabel .radioIcon {
  outline-width: 2px;
  outline-style: solid;
  outline-color: Highlight;

  @media (-webkit-min-device-pixel-ratio: 0) {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
  }
}

.radioInput:checked + .radioLabel .radioIcon::before {
  opacity: 1;
}

.radio:focus-within .errorMessage {
  opacity: 1;
  z-index: 1;
}

.radioColorBunker {
  color: var(--bunker-color);
}

.radioColorBunker .radioLabel:hover,
.radioColorBunker .radioInput:focus + .radioLabel {
  color: var(--bunker-color-700);
}

.radioColorWhite {
  color: white;
}

.radioColorWhite .radioLabel:hover,
.radioColorWhite .radioInput:focus + .radioLabel {
  color: rgba(255, 255, 255, 0.8);
}

.radioInvalid .radioIcon {
  border-color: var(--free-speech-red-color);
}
