@import 'styles/variables.css';

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-right: calc(-1 * var(--space-sm));
  margin-bottom: calc(-1 * var(--space-sm));
  padding: 0;
  list-style: none;
}

.listItem {
  margin-right: var(--space-sm);
  margin-bottom: var(--space-sm);
  font-size: 0;
}

.socialButton {
  display: block;
  width: 32px;
  height: 32px;
  border: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
}

.socialButton :global(svg) {
  max-width: 100%;
  max-height: 100%;
}

.socialButton:focus {
  opacity: 0.8;
}

@media (--mq-small) {
  .list {
    margin-right: calc(-1 * var(--space-md));
    margin-bottom: calc(-1 * var(--space-md));
  }

  .listItem {
    margin-right: var(--space-md);
    margin-bottom: var(--space-md);
  }

  .socialButton {
    width: 48px;
    height: 48px;
  }
}
