@import './variables.css';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: system-ui;
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-weight: 400;
  overflow-wrap: break-word;
  color: var(--bunker-color);
  text-rendering: optimizeSpeed;
  background-color: white;

  @media (--mq-medium) {
    font-size: calc(var(--base-font-size) * 1.2);
    line-height: calc(var(--base-line-height) * 1.2);
  }

  @media (--mq-large) {
    font-size: calc(var(--base-font-size) * 1.3);
  }

  @media (--mq-xlarge) {
    font-size: calc(var(--base-font-size) * 1.4);
  }

  @media (--mq-xxlarge) {
    font-size: calc(var(--base-font-size) * 1.6);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

legend {
  padding: 0;
  display: table;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}
