:root {
  /* Font variables */
  --base-font-size: 1em;
  --base-line-height: 1.5;
  --header-line-height: 1.25;

  /* Color variables */
  --bunker-color: var(--bunker-color-800);
  --bunker-color-100: rgb(225, 229, 234);
  --bunker-color-200: rgb(195, 202, 213);
  --bunker-color-300: rgb(165, 176, 192);
  --bunker-color-400: rgb(135, 149, 171);
  --bunker-color-500: rgb(104, 123, 151);
  --bunker-color-600: rgb(84, 98, 120);
  --bunker-color-700: rgb(63, 74, 90);
  --bunker-color-800: rgb(34, 40, 49);
  --bunker-color-900: rgb(21, 25, 30);

  --viridian-green-color: var(--viridian-green-color-600);
  --viridian-green-color-100: rgb(204, 253, 255);
  --viridian-green-color-200: rgb(153, 250, 255);
  --viridian-green-color-300: rgb(102, 248, 255);
  --viridian-green-color-400: rgb(51, 246, 255);
  --viridian-green-color-500: rgb(0, 244, 255);
  --viridian-green-color-600: rgb(0, 173, 181);
  --viridian-green-color-700: rgb(0, 146, 153);
  --viridian-green-color-800: rgb(0, 97, 102);
  --viridian-green-color-900: rgb(0, 49, 51);

  --cloud-burst-color: rgb(57, 62, 70);
  --whisper-color: rgb(238, 238, 238);

  --free-speech-red-color: rgb(181, 0, 0);

  --tulip-color: rgb(255, 204, 204);

  /*  Space variables */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 32px;
  --space-xl: 48px;
  --space-xxl: 64px;
  --space-xxxl: 128px;
}

@custom-media --mq-small (min-width: 48em);
@custom-media --mq-small-max (max-width: 47.9375em);
@custom-media --mq-medium (min-width: 64em);
@custom-media --mq-large (min-width: 75em);
@custom-media --mq-xlarge (min-width: 120em);
@custom-media --mq-xxlarge (min-width: 160em);
@custom-media --mq-retina (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi);
