@import 'styles/variables';

.item {
  align-items: flex-start;
}

.item:not(:last-child) {
  margin-bottom: var(--space-lg);
}

.itemPreviewPhotoWrapper {
  order: 0;
  grid-column: col-start / span 12;
  margin-bottom: var(--space-md);
}

.itemTextContent {
  order: 1;
  grid-column: col-start / span 12;
}

.itemName {
  margin-bottom: var(--space-md);
}

.itemDescription {
  margin: 0;
  color: var(--bunker-color-700);
  margin-bottom: var(--space-md);
}

.itemDownload {
  color: var(--bunker-color);
}

.itemDownload:hover,
.itemDownload:focus {
  text-decoration: underline;
}

.itemPhotos {
  margin-bottom: calc(-1 * var(--space-md));
}

.itemPhotos :global(img) {
  margin-bottom: var(--space-md);
}

@media (--mq-large) {
  .itemPreviewPhotoWrapper {
    grid-column: col-start / span 6;
    margin-bottom: 0;
    margin-right: var(--space-lg);
  }

  .itemTextContent {
    grid-column: col-start 7 / span 12;
    /* May be need overflow for medium devices */
    /* max-height: 520px; */
    /* overflow-y: auto; */
  }
}
