@import 'styles/variables';

.item {
  position: relative;
  width: 20em;
  max-width: 100%;
  margin-bottom: var(--space-lg);
}

.itemPreviewPhoto {
  margin-bottom: var(--space-md);
}

.itemName {
  margin-bottom: var(--space-md);
}

.itemDescription {
  margin: 0;
  margin-bottom: var(--space-md);
}

.itemLinks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: calc(var(--space-md) * -1);
  margin-top: auto;
}

.itemLink {
  margin-right: var(--space-md);
  color: inherit;
  text-decoration: underline;
}

.itemLink:hover,
.itemLink:focus {
  text-decoration: none;
}

.itemPhotos {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: calc(-1 * var(--space-md));
  width: 21cm;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.itemPhotosFull {
  display: none;
}

.itemPhoto {
  margin-bottom: var(--space-md);
}

@media (--mq-medium) {
  .item {
    flex-grow: 1;
    width: 15em;
    margin-right: var(--space-lg);
  }

  .itemPreviewPhoto {
    margin-bottom: 0;
  }

  .item:hover .itemTextContent {
    visibility: visible;
    opacity: 1;
  }

  .itemTextContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    visibility: hidden;
    width: 100%;
    height: 100%;
    color: white;
    padding: var(--space-md);
    background-color: rgb(21, 25, 30, 0.9);
    opacity: 0;
    transition: opacity 0.38s ease;
  }

  .itemName {
    text-align: center;
  }

  .itemDescription {
    text-align: center;
  }

  .itemPhotos {
    margin-bottom: calc(-1 * var(--space-lg));
  }

  .itemPhotosCompact {
    display: none;
  }

  .itemPhotosFull {
    display: block;
  }

  .itemPhoto {
    margin-bottom: var(--space-lg);
  }
}

@media (--mq-large) {
  .itemTextContent {
    padding: var(--space-lg);
  }
}
