@import 'styles/variables.css';

.section {
  width: 100%;
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
  background-color: var(--bunker-color);
  color: white;
}

.title {
  text-align: center;
  margin-bottom: var(--space-md);
}

.bannerColumn {
  grid-column: col-start / span 12;
  width: 100%;
  margin-bottom: var(--space-md);
}

.donationInfoColumn {
  grid-column: col-start / span 12;
}

.donationInfo {
  margin-bottom: var(--space-md);
  padding: var(--space-sm);
  color: var(--bunker-color);
  background-color: white;
}

.donationInfoTitle {
  text-align: center;
  margin-bottom: var(--space-md);
}

.donationInfoProgress {
  width: 100%;
  margin-bottom: var(--space-md);
}

.donationInfoTable {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

.donationInfoTerm,
.donationInfoDesc {
  vertical-align: top;
  text-align: center;
  padding: 0;
}

.donationInfoTerm {
  font-weight: 700;
}

.donationInfoDesc {
  font-size: 0.9em;
}

.projectDesc {
  margin: 0;
  margin-bottom: var(--space-md);
  color: var(--bunker-color-200);
  font-size: 0.9em;
}

.projectDescLink {
  color: white;
  text-decoration: underline;
}

.projectDescLink:hover,
.projectDescLink:focus {
  text-decoration: none;
}

.backProjectBtn {
  width: 100%;
}

@media (--mq-medium) {
  .section {
    padding-top: var(--space-lg);
    padding-bottom: var(--space-lg);
  }

  .title {
    margin-bottom: var(--space-lg);
  }

  .sectionColumns {
    align-items: flex-start;
    column-gap: var(--space-lg);
    margin-bottom: 0;
  }

  .bannerColumn {
    grid-column: col-start / span 8;
    margin-bottom: 0;
  }

  .donationInfoColumn {
    grid-column: col-start 9 / span 4;
  }
}

@media (--mq-large) {
  .donationInfo {
    padding: var(--space-md);
  }

  .projectDesc {
    margin-bottom: var(--space-lg);
  }
}

@media (--mq-xlarge) {
  .section {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
  }

  .title {
    margin-bottom: var(--space-xl);
  }
}
