@import 'styles/variables.css';

.section {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--bunker-color);
  color: white;
}

.title {
  text-align: center;
  margin-bottom: var(--space-md);
}

.banner {
  width: 100%;
  margin-bottom: var(--space-md);
}

.subtitle {
  text-align: center;
  margin: 0;
  color: var(--bunker-color-200);
  margin-bottom: var(--space-lg);
}

.learnMore {
  color: white;
}

.learnMore:hover,
.learnMore:focus {
  text-decoration: underline;
}

.progress {
  width: 100%;
  margin-bottom: var(--space-md);
}

.descriptionList {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: calc(var(--space-md) * -1);
  margin-bottom: var(--space-lg);
}

.descriptionItem {
  width: 80px;
  flex-grow: 1;
  margin-right: var(--space-md);
}

.descriptionTitle {
  font-weight: 700;
  font-size: 1.15em;
}

.descriptionDetails {
  margin: 0;
  font-size: 0.9em;
  color: var(--bunker-color-200);
}

.backProject {
  width: 100%;
}

@media (--mq-small) {
  .section {
    float: right;
    width: 40%;
    padding-top: var(--space-lg);
    padding-bottom: var(--space-lg);
    padding-left: var(--space-md);
    padding-right: var(--space-md);
  }
}

@media (--mq-large) {
  .section {
    width: 35%;
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);
  }
}
