@import 'styles/variables.css';

.section {
  width: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: var(--bunker-color);
  color: white;
}

.title {
  text-align: center;
  margin-bottom: var(--space-xl);
}

.banner {
  width: 100%;
  margin-bottom: var(--space-lg);
}

.subtitle {
  margin: 0;
  color: var(--bunker-color-200);
  margin-bottom: var(--space-lg);
}

.learnMore {
  color: white;
  text-decoration: underline;
}

.learnMore:hover,
.learnMore:focus {
  text-decoration: none;
}

.progress {
  width: 100%;
  margin-bottom: var(--space-md);
}

.donationStatisticContainer {
  margin-bottom: var(--space-lg);
  padding: 1em 0.5em;
  color: var(--bunker-color);
  background-color: white;
}

.donationStatistic {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

.donationStatisticHead {
  vertical-align: top;
  font-weight: 700;
  font-size: 1.15em;
  text-align: center;
  padding: 0.3em;
}

.donationStatisticInfo {
  vertical-align: top;
  font-size: 0.9em;
  text-align: center;
  padding: 0.3em;
}

.backProject {
  width: 100%;
}

@media (--mq-small) {
  .backProject {
    width: auto;
  }
}

@media (--mq-medium) {
  .sectionColumns {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: var(--space-lg);
  }

  .subtitle {
    margin-bottom: 0;
    margin-right: var(--space-lg);
    width: calc(55% - var(--space-lg));
  }

  .donationStatisticContainer {
    margin-bottom: 0;
    width: 45%;
    padding: 2em 1em;
  }
}

@media (--mq-large) {
  .subtitle {
    width: calc(60% - var(--space-lg));
  }

  .donationStatisticContainer {
    width: 40%;
  }
}
