.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 16px;
}

.container {
  margin-left: 4%;
  margin-right: 4%;

  @media (--mq-medium) {
    margin-left: 8%;
    margin-right: 8%;
  }

  @media (--mq-large) {
    margin-left: 12%;
    margin-right: 12%;
  }

  @media (--mq-xlarge) {
    margin-left: 18%;
    margin-right: 18%;
  }
}
