@import 'styles/variables.css';

.section {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  color: white;
  background-color: var(--bunker-color);
}

.title {
  text-align: center;
  margin-bottom: var(--space-md);
}

.subtitle {
  margin: 0;
  text-align: center;
  color: var(--bunker-color-200);
  margin-bottom: var(--space-lg);
}

.box {
  color: var(--bunker-color);
  background-color: white;
  margin-bottom: var(--space-lg);
}

.donationDetailsBox {
  display: block;
}

.donationDetailsBoxHidden {
  display: none;
}

.legend {
  font-weight: 700;
  margin-bottom: var(--space-md);
}

.text {
  margin: 0;
}

.text:not(:last-child) {
  margin-bottom: var(--space-md);
}

.fieldsetSecondary .optionList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: calc(-1 * var(--space-md));
  margin-bottom: calc(-1 * var(--space-md));
}

.fieldsetSecondary .option {
  margin-right: var(--space-md);
  margin-bottom: var(--space-md);
}

.optionList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.option:not(:last-child) {
  margin-bottom: var(--space-md);
}

.donationDetailsItem {
  margin-bottom: var(--space-md);
}

.donationDetailsFooter {
  margin-top: var(--space-lg);
}

.regPaymentsInputGroupText {
  margin: 0;
  margin-top: var(--space-sm);
  font-size: 0.8em;
  color: var(--bunker-color-700);
}

.regPaymentsInputGroupLink {
  color: var(--bunker-color);
}

.regPaymentsInputGroupLink:hover,
.regPaymentsInputGroupLink:focus {
  text-decoration: underline;
}

.submitBtn {
  width: 100%;
}
