@import 'styles/variables.css';

.section {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  color: white;
  background-color: var(--bunker-color);
}

.title {
  text-align: center;
  margin-bottom: var(--space-md);
}

.subtitle {
  margin: 0;
  text-align: center;
  color: var(--bunker-color-200);
  margin-bottom: var(--space-lg);
}

.box {
  color: var(--bunker-color);
  background-color: white;
  margin-bottom: var(--space-lg);
}

.donationDetailsBox {
  display: block;
}

.donationDetailsBoxHidden {
  display: none;
}

.legend {
  font-weight: 700;
  margin-bottom: var(--space-md);
}

.text {
  margin: 0;
}

.text:not(:last-child) {
  margin-bottom: var(--space-md);
}

.optionList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.option:not(:last-child) {
  margin-bottom: var(--space-md);
}

.submitBtn {
  width: 100%;
}

@media (--mq-small) {
  .section {
    float: right;
    width: 40%;
    padding-top: var(--space-lg);
    padding-bottom: var(--space-lg);
    padding-left: var(--space-md);
    padding-right: var(--space-md);
  }
}

@media (--mq-large) {
  .section {
    width: 35%;
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);
  }
}
