@import 'styles/variables.css';

.section {
  width: 100%;
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
  color: white;
  background-color: var(--bunker-color);
}

.title {
  text-align: center;
  margin-bottom: var(--space-md);
}

.subtitle {
  text-align: center;
  margin: 0;
  color: var(--bunker-color-200);
  margin-bottom: var(--space-lg);
}

.formColumns {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-lg);
}

.box {
  padding: 1.25em;
  color: var(--bunker-color);
  background-color: white;
}

.legend {
  font-weight: 700;
  margin-bottom: var(--space-md);
}

.radioList {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: calc(-1 * var(--space-sm));
}

.radioListOption {
  display: flex;
  margin-bottom: var(--space-sm);
}

.fieldsetErrorMessage {
  color: var(--free-speech-red-color);
  margin-top: var(--space-md);
}

.submitBtn {
  width: 100%;
  margin-top: var(--space-lg);
}

.donationDetailsBox {
  margin-top: var(--space-lg);
}

.donationVariantDesc {
  margin: 0;
  margin-bottom: var(--space-lg);
}

.donationDetailsLabelDesc {
  display: block;
  font-size: 0.9em;
  color: var(--bunker-color-700);
}

.donationDetailsCharacterGender .legend {
  margin-bottom: var(--space-sm);
}

.donationDetailsCharacterGender .radioList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: calc(-1 * var(--space-md));
  margin-bottom: 0;
}

.donationDetailsCharacterGender .radioListOption {
  margin-right: var(--space-md);
  margin-bottom: 0;
}

.donationDetailsCharacterGender .fieldsetErrorMessage {
  margin-top: var(--space-sm);
}

.donationDetailsColumns {
  display: grid;
  gap: var(--space-md);
}

.donationDetailsFooter {
  margin-top: var(--space-lg);
}

.donationDetailsFooterItem:not(:last-child) {
  margin-bottom: var(--space-md);
}

.donationDetailsFooterItem .checkboxIconClassName {
  top: var(--space-sm);
  transform: none;
}

.donationDetailsItemLink {
  color: inherit;
  text-decoration: underline;
}

.donationDetailsItemLink:hover,
.donationDetailsItemLink:focus {
  text-decoration: none;
}

@media (--mq-medium) {
  .section {
    padding-top: var(--space-lg);
    padding-bottom: var(--space-lg);
  }

  .formColumns {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-lg);
  }

  .donationDetailsColumns {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-lg);
  }

  .donationDetailsItem {
    margin-top: auto;
  }

  .submitBtn {
    width: 200px;
  }
}

@media (--mq-xlarge) {
  .section {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
  }
}
