@import 'styles/variables';

.select {
  position: relative;
}

.selectLabel {
  display: inline-block;
  vertical-align: top;
  line-height: 1.5;
  margin-bottom: var(--space-sm);
  cursor: pointer;
}

.selectInner {
  appearance: none;

  text-indent: 0.01px;
  text-overflow: '';
  overflow: hidden;

  text-overflow: ellipsis;

  display: block;
  padding: 0.5em 1em;
  padding-right: 3em;
  width: 100%;
  max-width: 100%;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: 2px solid;
  box-shadow: none;
  cursor: pointer;

  transition: 280ms border-color 120ms ease-out, 280ms padding 120ms ease-out;

  background-repeat: no-repeat;
  background-position: top 50% right 1em;
  background-size: 1em;
}

.selectInner:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.selectInner::-ms-expand {
  display: none;
}

.selectOption {
  font-weight: 400;
  /* Needed for windows */
  color: black;
}

.selectColorBunker {
  color: var(--bunker-color);
}

.selectColorBunker .selectInner {
  border-color: var(--bunker-color);
  background-image: url('./assets/down-arrow_bunker.svg');
}

.selectColorWhite {
  color: white;
}

.selectColorWhite .selectInner {
  border-color: white;
  background-image: url('./assets/down-arrow_white.svg');
}

.select:focus-within .errorMessage {
  opacity: 1;
  z-index: 1;
}

.selectInvalid .selectInner {
  border-color: var(--free-speech-red-color);
}
