@import 'styles/variables';

.checkbox {
  position: relative;
}

.checkboxLabel {
  position: relative;
  display: inline-block;
  vertical-align: top;
  line-height: 1.5;
  padding-left: var(--space-lg);
  cursor: pointer;
}

.checkboxIcon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid currentColor;
  background-color: transparent;
  transform: translateY(-50%);
}

.checkboxIcon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 40%;
  border: 2px solid currentColor;
  border-right: 0;
  border-top: 0;
  background-color: transparent;
  transform: translate(-50%, -50%) rotate(-45deg);
  opacity: 0;
}

.checkboxInput:focus + .checkboxLabel .checkboxIcon {
  outline-width: 2px;
  outline-style: solid;
  outline-color: Highlight;

  @media (-webkit-min-device-pixel-ratio: 0) {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
  }
}

.checkboxInput:checked + .checkboxLabel .checkboxIcon::before {
  opacity: 1;
}

.checkbox:focus-within .errorMessage {
  opacity: 1;
  z-index: 1;
}

.checkboxColorBunker {
  color: var(--bunker-color);
}

.checkboxColorBunker .checkboxLabel:hover,
.checkboxColorBunker .checkboxInput:focus + .checkboxLabel {
  color: var(--bunker-color-700);
}

.checkboxColorWhite {
  color: white;
}

.checkboxColorWhite .checkboxLabel:hover,
.checkboxColorWhite .checkboxInput:focus + .checkboxLabel {
  color: rgba(255, 255, 255, 0.8);
}

.checkboxInvalid .checkboxIcon {
  border-color: var(--free-speech-red-color);
}
